*{
    margin: 10px;
    font-family: var(--main-font), sans-serif;
}



.custom-hr {
    border: none; /* 移除默认的边框样式 */
    border-top: 1px solid #e0e0e0; /* 自定义线条 */
    margin: 10px 0; /* 控制分割线的上下间距 */
    width: 100%; /* 控制宽度 */
}

.pop-up-reminder{
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    border-radius: 8px;
    bottom: 20px;
    left: 10%;
    width: 70%;
    background-color: var(--grey-100);
    padding: 10px;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.pop-up-reminder.slide-up {
    animation: slideUp 0.3s ease-out;
}

.pop-up-reminder.slide-down {
    animation: slideDown 0.3s ease-out;
}

.pop-up-reminder button{
    background-color: var(--grey-300);
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 8px;
}

/* Custom select box styling */
select {
    appearance: none; /* Remove default arrow */
    -webkit-appearance: none; /* Remove default arrow for Safari */
    -moz-appearance: none; /* Remove default arrow for Firefox */
    background-color: var(--grey-300);
    border: 1px solid var(--grey-500);
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
    color: var(--grey-700);
    width: 100%;
    cursor: pointer;
    margin: 10px 0;
}

select {
    background-color: var(--grey-300);
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
    color: var(--grey-700);
    width: auto;
    cursor: pointer;
    margin: 10px 0;
    position: relative;
}


@keyframes slideUp {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideDown {
    from {
        transform: translateY(0);
        opacity: 1;
    }
    to {
        transform: translateY(100%);
        opacity: 0;
    }
}

.title-view{
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
