:root{
    --main-font: "Helvetica, sans-serif";
    --primary-color: #4e89bf;
    --secondary-color: #1c486a;
    --grey-100: #f7fafc;
    --grey-300: #e2e8f0;
    --grey-500: #718096;
    --grey-700: #4a5568;


}
